*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #374151 0%, #121928 100%);
    color: #fff;
    margin: 0 auto;
    font-weight: 400;
    font-family: Roboto;
    /* width: 1440px; */
    /* height: 1516px; */
    border: none;
}

.body__header {
    margin: 70px 180px;
}

.body__header * {
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

.logo {
    border-radius: 3px;
    background-color: #4b5563;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 6px 12px;
    line-height: 23px;
    font-size: 18px;
    margin-right: 11px;
}

.blog {
    width: 80px;
    height: 21px;
    font-size: 18px;
    line-height: 21px;
    margin-right: 77px;
}

nav ul {
    font-size: 16px;
    line-height: 19px;
    padding-left: 0;
}

.li__html_css {
    margin-right: 52px;
}

.li__frontend {
    margin-right: 39px;
}

.li__backend {
    margin-right: 320px; /*должно быть 346 но при таком значении search переносится почему-то */
}

.search {
    position: relative;
}

.search img {
    position: absolute;
    top: 14px;
    left: 18px;
}

.search input {
    width: 224px;
    height: 40px;
    border: none;
    background-color: rgba(31, 41, 55, 0.6);
    border-radius: 100px;
    border: none;
    padding-left: 49px;
    font-size: 16px;
    line-height: 19px;
}

.what_when {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.6;
    margin: 0 auto 14px;
}

.what_when div {
    display: inline-block;
}

.what_when img {
    padding: 6px 12px;
    vertical-align: middle;
}

h1 {
    width: 525px;
    height: 76px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    margin: 0 auto 30px;
}

.author {
    position: relative;
    width: 214px;
    height: 53px;
    margin: 0 auto 28px;
}

.author img {
    position: absolute;
    top: 3px;
}

.author div {
    padding-left: 66px;
    line-height: 28px;
}

.author_name {
    font-size: 16px;
    line-height: 28px;
}

.author_role {
    opacity: 0.6;
    font-size: 14px;
    line-height: 28px;
}

.section_main img {
    width: 896px;
    height: 594px;
    margin: 0 auto 69px;
    display: block;
}

.section_main p {
    width: 708px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
}

.section_extra {
    margin-bottom: 80px;
}

.section_extra p {
    margin: 0 auto;
    width: 708px;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
}

footer {
    text-align: center;
    margin-bottom: 77px;
    opacity: 0.6;
}
